body {
margin:0;
padding:0;
font-family:Arial,-serif;
background-color:rgb(244,244,244);
}
nav {
    background-color:red ;
    padding:30px;
    top:0;
    left:0;
    position:fixed;
    width:100%;
    }
    nav ul {
        list-style:none;
        margin:0;
        padding:0;
        text-align: center;
    }
    nav ul li{
        display:inline;
        margin: right 15px;
    }
    nav ul li a{
        color:white ;
        text-decoration:none;
         font-weight:bold;
         padding:7px 20px;
         border-radius:5px;
    }
    h1{
        color:red;
        text-align: center;
        padding: 20px;
        background-color:rgb(244,244,244);
        margin:0;
        padding-top:100px;
    }
    h2{
        color:green;
        border-bottom:2px solid green;
        padding-bottom:5px;
    }
    img{
        display:block;
        width: 50%;
        border-radius:10px;
        margin:20px 350px;
    }
    p{
        padding:0 20px;
    }
    ol li{
        margin-bottom:10px;
    }
    footer{
        background-color:red;
        color:white;
        text-align:center;
        padding: 10px;
    }